body {
    background-color: #102526;
    color: #d8d8d6;
}

.container {
    background-color: #102526;
    padding: 0 0;
}

.profile_pic {
    clip-path: circle();
    width: 70px;
    object-fit: cover;
}

.commend {
    background-color: #896E38;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    display: flex;
    justify-content: flex-start;
    gap: 0;
}

.commend2 {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin: 0;
    width: 300px;
}

.btn-group {
    text-align: center;
    align-items: center;
}

.image {
    display: block;
    margin: 0;
    margin-bottom: 2%;
    width: 100%;
    aspect-ratio: 2/1.2;
    object-fit: cover;
    box-shadow: 3px 3px 3px 3px rgb(33, 33, 33);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.desc{
    margin: 0.2em 0.5em;
}

.location{
    margin: 0.2em 0.5em;
}

.barber-title{
    margin: 0.5rem 0.5rem;
}


.barber-image {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.barbercontent {
    background-color: #102526;
    margin: 1em 1em;
    display: flex;
    align-items: center;
    border-color: white;
    border-width: 1.5px;
    border-radius: 10px;
    padding: 0em 0em;
    width: 8rem;
    height: 10rem;
}

.barber-rating{
    display: flex;
}

.ic_star{
    width: 15px;
    height: 15px;
    margin: 0.2rem 0.2rem;
}

.barber-description {
    margin: 0 0;
    padding: 0 0 ;
    text-align: center;
}

.barber-profile {
    background-color: #102526;
    display: flex;
    flex-direction: row;
}
